*{
  outline: none;
  text-decoration: none;
}

html, body{
  height: 100%;
}

.header__title{
  display: block;
  padding: 5px 0px 0px 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 35px;
  color: black;
  text-decoration: none;
  margin-top: 0px;
}

.social-links__fblike{
  display: block;
  position: absolute;
  width: 58px;
  height: 24px;
  margin: 12px 0px 0px 190px;
  opacity: 0.8;
}

.social-links__fblike:hover{
  opacity: 1;
}

.social-links__twitter{
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 12px 0px 0px 253px;
  opacity: 0.8;
}

.social-links__twitter:hover{
  opacity: 1;
}

.social-links__linkedin{
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 12px 0px 0px 283px;
  opacity: 0.8;
}

.social-links__linkedin:hover{
  opacity: 1;
}

.nav-bar{
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  list-style: none;
  text-align: right;
}

.nav-bar__list li{
  padding: 0px 0px 0px 20px;
  display: inline-block;
}

.nav-bar__list li a{
  text-decoration: none;
  color: black;
}
.nav-bar__list li a:hover{
  color: grey;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

.nav-buttons__hire-me{
  display: block;
  padding: 10px 10px 10px 10px;
  margin-top: 6px;
  border-radius: 3px;
  border-style: none;
  background-color: #193c64;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  outline: none;
}

.nav-buttons__hire-me:hover{
  background-color: grey;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

.content{
  height: 100%;
}

.article--pt1__profile--name{
  display: block;
  padding: 5px 0px 0px 0px;
  font-family: 'Lobster', cursive;
  font-size: 25px;
  color: black;
  text-decoration: none;
}

.article--pt1__profile--picture{
  width: 200px;
  height: 200px;
}

.article--pt1__input__summary{
  margin-top: 0px;
  font-family: 'Raleway', sans-serif;
}


.article--pt2__profile--name{
  display: block;
  padding: 5px 0px 0px 0px;
  font-family: 'Lobster', cursive;
  font-size: 25px;
  color: black;
  text-decoration: none;
}

.article--pt2__profile--picture{
  width: 200px;
  height: 200px;
}

.article--pt3__image{
  width: 500px;
  height: 250px;
}


@media only screen and (min-width: 768px) and (max-width: 959px){


}

 @media only screen and (max-width: 767px) {

body{
  background-color: lightgrey;
}

/*main{
  border-bottom: none;
  background-color: lightgrey;
}*/

.header__title{
  font-size: 50px;
  text-align: center;
}

.nav-bar{
  text-align: center;
  background-color: grey;
  border-radius: 3px;
}

.social-links{
  display: none;
}

.social-links__fblike{
  display: inline-block;
  position: relative;
  margin: 0px 0px 0px 0px;
  width: 120px;
  height: 50px;
}

.social-links__twitter, .social-links__linkedin{
  display: inline-block;
  position: relative;
  margin: 0px 0px 0px 0px;
  width: 50px;
  height: 50px;
}

.nav-bar__list{
  padding-left: 0px;
  padding-top: 10px;
}

.nav-bar__list li{
  display: block;
  text-align: center;
  padding-left: 0px;
  font-size: 25px;
  margin-bottom: 10px;
  padding-bottom: 15px;
}

.nav-bar__list li:nth-child(4){
  border-bottom: none;
}

.nav-bar a{
  color: white;
}

.nav-bar a:hover{
  color: white;
}

.nav-buttons__hire-me{
  width: 100%;
  font-size: 25px;
}

.article--pt1__profile--name,
.article--pt2__profile--name{
  font-size: 35px;
  margin-bottom: 8px;
  text-align: center;
}

.article--pt1__profile--picture{
  display: block;
  margin: 0 auto;
}

.article--pt2__profile--picture{
  display: block;
  margin: 0 auto;
}

.article--pt3__image{
  width: 100%;
  height: 100%;
}

}
