html {
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-weight: lighter;
}
.background-style {
  background: url(/images/triangles-blue.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  max-width: 480px;
}
.headline {
  text-align: center;
}
.headline__tagline {
  font-size: .3rem;
  color: transparent;
  margin-top: -.7rem;
}
.logo {
  height: 90%;
  width: 90%;
}
.main-body {
  margin: 1em;
}
.main-body__tagline {
  font-size: .3rem;
  color: transparent;
  margin-top: -1rem;
}
.text-box {
  margin: 0 auto;
}
.text-box__area {
  font-size: 1.2rem;
  color: white;
  width: 80%;
  height: 25rem;
  background-color: rgba(1,1,1,0.3);
  border-radius: 4px;
  border: solid 1px white;
  padding: 10%;
}
.footer-style {
  margin: 1em;
  text-align: center;
  color: white;
}

